#container {
    background-color: yellow;
    width: 80%;
    margin: 20px auto;
}

#div1 {
    background: blue;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 10px 10px 10px 10px;
}


#div2 {
    float: left;
    background: fuchsia;
    width: 33%;
    height: 150px;
}

#div3 {
    background: cyan;
    float: left;
    width: 33%;
    height: 150px;
}
#div4 {
    background: royalblue;
    float: left;
    width: 33%;
    height: 150px;
    padding-right: 1%;
}
#div5 {
    background: yellowgreen;
    float: left;
    width: 100%;
    margin-top: 10px;
}