 #wrapper {
    background-color: #333;
    float: inherit;
    width: 900px;
    position: relative;
    margin: 0 auto 0 auto
 }
 
 header {
    float: left;
    width: 890px;
    height: 100px;
    background: #ccc;
    color: rgb(23, 58, 216);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;

 }

 h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
 }

 nav {
    float: left;
    width: 870px;
    background: orange;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    padding: 15px 0px 13px 30px;
}

 nav a {
    color: #000;
    text-decoration: none;
 }

 nav a:hover {
    color: white;
    text-decoration: underline;
 }

 a {
    color: #FC0; 
    text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }

 article {
    float: left;
    width: 650px;
    background:green;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 16px;
    color: #ccc;
    padding: 10px 23px 10px 20px;
    height: 479px;
    margin-bottom:;
   }

 section {

 }

 aside {

    float: right;
    background: gray;
    width: 186px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #ccc;
    height: 480px;
    margin:0px 1px 0px 0px;
    padding: 10px 10px 9px 10px;
 }

 footer {
    background: #fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin:5px 0px 0px 0px;

 }

  .contact_form h2, .contact_form lable {
    font-family: 'Times New Roman', Times, serif;
    font-weight:  bold;
 }
  .contact_form ul {
      width: 100%;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
  }

  .contact_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
  }

  .required_notification, form_hint {
      font-size: 12px;
  }

*:focus {
    outline: none;
}

.contact_form label {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

/* .contact_form input {
    width: 150px;
    height: 20px;
}

.contact_form textarea {
    width: 150px;
} */

.contact_form button {
    margin-left: 134px;
}

.contact_form input, .contact_form textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 0px rgb(240, 14, 14), 0px 0px 0px rgb(62, 13, 240) inset;
    border-radius: 1px;
    padding-right: 0px;
    -moz-transition: padding .2s;
    -webkit-transition: padding .2s;
    -o-transition: padding .2s;
    transition: padding .2s;
}

.contact_form input:focus, .contact_form textarea:focus {
    background: #ffffff;
    border: 1px solid #555;
    box-shadow: 0px 0px 0px #aaa;
    padding-right: 100px;
}

.contact_form input:required, .contact_form textarea:required {
    background: #fff url('../images/red_asterisk.png') no-repeat 98% center;
}

 .contact_form input:valid, .contact_form textarea:valid {
    background: #fff url('../images/valid.png') no-repeat 98% center;
    border-color: greenyellow;
    box-shadow: 0 0 5 px #5cd053;
 }

 .contact_form input:invalid, .contact_form textarea:invalid {
    background: #fff url('../images/invalid.png') no-repeat 98% center;
    border-color: red;
    box-shadow: 0 0 5px #b03535;
 }

 button.submit {
     background: lightblue;
     border-radius: 3px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 3px;
     border: 1px solid #509111;
     color:black;
     font-weight: bold;
 }

 button.submit:hover {
     cursor: pointer;
 }

 button.submit:active {
    background: blue;
    border-radius: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 3px;
    border: 1px solid #5e56ca;
    color:black;
    font-weight: bold;
}

.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: yellow;
    margin-left: 10px;
    padding: 1px 5px;
    position: absolute;
    display: none;

}

.form_hint::before {
    content: "\25c0";
    position: absolute;
    color: #d45252;
    top: -1px;
    left: -6px;
}

.contact_form input:focus + .form_hint{
    display: inline;
}

.contact_form input:required:valid + .form_hint {
    background: green;
    display: none;
}

.contact_form input:required:valid + .form_hint::before {
    background: #28921F;
}